@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*, *::before, *::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    --clr-bkg: 0deg 0% 100%;
    --clr-content: 210deg 15% 10%;
    --clr-grey: 0deg 0% 85%;
    --clr-faded: 0deg 0% 69%;
    --clr-pink: 315deg 70% 67%;
    --clr-black: 0deg 0% 0%;
    --clr-blue: 215deg 53% 40%;
    --clr-white: 0deg 2% 98%;
    --clr-darkgrey: 220deg 1% 28%;
    --clr-yellow: 50deg 82% 45%;
    --clr-red: 348deg 86% 45%;
    --clr-green: 160deg 48% 24%; 
    --clr-purple: 283deg 60% 32%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --clr-bkg: 0deg 0% 100%;
      --clr-content: 210deg 15% 10%;
      --clr-grey: 0deg 0% 45%;
      --clr-faded: 0deg 0% 69%;
    }

    :root[data-theme="dark"] {
      --clr-bkg: 210deg 15% 10%;
      --clr-content: 0deg 0% 100%;
      --clr-grey: 0deg 0% 45%;
      --clr-faded: 0deg 0% 69%;
    }
  }
}

.separator::before  {
  content: "|";
  color: black;
  position: absolute;
  top: 3px;
  left: 27px;
}

input.placeholda::placeholder {
  font-size: 0.8rem;
  font-weight: 600;
}

html[data-theme="dark"] input.placeholda::placeholder {
  color: white;
}

html[data-theme="light"] input.placeholda::placeholder {
  color: black;
}

.height-half {
  height: calc(50% - 2rem);
}

.no-select {
  user-select: none;
}

.aspect-ratio {
  aspect-ratio: 16 / 9;
}

/* Typography */
.hero-h1 {
  /* font-size: clamp(12px, 1rem + 120vw, 40px); */
  /* font-size: calc(12px + (40px - 12px) * ((100vw - 375px) / (1920px - 375px))); */
  font-weight: 500;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  line-height: normal;
}

.hero-p {
  font-size: clamp(2px, 0.7125rem, 1rem);
  font-weight: 300;
  line-height: normal;
}

.nav-category {
  font-weight: 600;
  font-size: clamp(4px, 0.875rem, 0.9rem);
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.textShadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.clipPath {
   clip-path: 'inset(0 5 5 0)'; 
}

.noscrollbar::-webkit-scrollbar {
  visibility: hidden;
}
