@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*, *::before, *::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    --clr-bkg: 0deg 0% 100%;
    --clr-content: 210deg 15% 10%;
    --clr-grey: 0deg 0% 85%;

    --clr-faded: 0deg 0% 69%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --clr-bkg: 0deg 0% 100%;
      --clr-content: 210deg 15% 10%;
      --clr-grey: 0deg 0% 45%;
      --clr-faded: 0deg 0% 69%;
    }

    :root[data-theme="dark"] {
      --clr-bkg: 210deg 15% 10%;
      --clr-content: 0deg 0% 100%;
      --clr-grey: 0deg 0% 45%;
      --clr-faded: 0deg 0% 69%;
    }
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}

.separator::before  {
  content: "|";
  color: black;
  position: absolute;
  top: 3px;
  left: 29.5px;
}

input.placeholda::placeholder {
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
}

html[data-theme="dark"] input.placeholda::placeholder {
  color: white;
}

.height-half {
  height: calc(50% - 2rem);
}
