@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    /* --body-bg: 0deg 0% 100%; */
    --body-text: 171deg 54% 57%;
    --body-bg: 0deg 0% 50%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --body-bg: 0deg 0%, 0%;
      --body-text: 120deg 100% 80%;
    }

    :root[data-theme="dark"] {
      --body-bg: 120deg 100% 80%;
      --body-text: 0deg 0%, 0%;
    }
  }
}
